<html>
	<head>
		<title>NWH Peace of Mind Assessment</title>

		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		

		<link rel="stylesheet" type="text/css" href="css/reset.css">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Condensed" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/welcome_style.css">
<!-- 
		<script src="cordova.js"></script> -->

		<script type="text/javascript" src="./js/jquery.cookie.js"></script>
		<script type="text/javascript" src="./js/jquery.min.js"></script>
		<script type="text/javascript" src="./js/underscore.min.js"></script>
		<script type="text/javascript" src="./js/range-touch.min.js"></script>
		<script type="text/javascript" src="./js/hammer.js"></script>
<!-- 		<script type="text/javascript" src="./js/fastclick.js"></script> -->
    	<script src="./js/airtable.browser.js"></script>

		<script type="text/javascript" src="./js/controller.js"></script>
		<script type="text/javascript" src="./js/welcome_main.js"></script>
		
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124600368-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124600368-2');
</script>

	</head>
	<body>
		<div id="container">
			<header>
				<img src="images/nwh_logo.svg" alt="NWH Peace of Mind" class="logo">

				<a href="/">Restart</a>
			</header>
			<!-- solutions screen -->
			<div id="solutions" style="opacity: 1;">
			</div>

			<!-- question screen -->
			<div id="questions" class="white-bc uppercase">
				<div id="questions-container">
				</div>
				<div class="nav-bar">
					<div id="nav-prev" class="button nav-button nav-button-disabled">
						Previous
					</div>
					<div id="nav-next" class="button right nav-button nav-button-disabled">
						<div id="next-content">
							Next
						</div>
						<div id="submit-pre" class="centered">Submit</div>
						<div id="submit-content" class="centered">
							<div class="submit-title">Done</div>
							
						</div>
					</div>
					<div class="cf"></div>
				</div>
			</div>

			<!-- Welcome screen -->
			<div id="welcome" class="centered">
				<div class="welcome-dark">
					<img src="/images/icons/00_HomeHero.svg" alt="Welcome image of survey"/>

					<div id="welcome-title" class="purple-fg roboto uppercase">Self Assessment</div>
					<div id="welcome-subtitle" class="grey-fg montserrat">Before we ask you a lot of questions, we’d like to hear from you. Use this simple tool to reflect and let us know a few things about how you’re currently feeling. We’ll start your next appointment listening to you and your responses to make sure we can uniquely care for you. 
<br><br>
For each question, please select where you fall on the spectrum. At the end you’ll be able to see a summary. 

</div>
					<div id="welcome-button" class="button roboto">Take Our Survey</div>
<!-- 
					<div id="welcome-confidential" class="white-fg montserrat centered">
						Your participation is confidential and completely anonymous.
					</div> -->
				</div>	
			</div>
		</div>

		<!-- templates -->
		<script type="text/template" id="template-questions">
			<div id="questions-header">
				<% for( var i=0; i<questions.length; i++ ){ %>
				<div class="question-top centered" style="width: <%= 100/questions.length %>%">
					<div class="question-top-num roboto"><%= i+1 %></div>
					
				</div>
				<% } %>
				<div class="cf"></div>
			</div>
			<div id="questions-scroller">
				<% for( var i=0; i<questions.length; i++ ){ %>
				<div class="question slate-purple-fg  <%=questions[i].type%>">
					<div class="question-begin"><%= questions[i].question %></div>
					<div class="question-answers roboto">
						<% if( questions[i].type == 'MULTISELECT') { %>

							<% for( var j=0; j<questions[i].answers.length; j++ ){ %>

							<div id="answer-<%= i %>-<%= j %>" class="question-answer multiselect centered">
								<img src="images/icons/<%= questions[i].answer_images[j] %>.svg" alt="<%= questions[i].answers[j] %>" class="off">

								<img src="images/icons/<%= questions[i].answer_images[j] %>_hover.svg" alt="<%= questions[i].answers[j] %>" class="on" />

								<span><%= questions[i].answers[j] %></span>
							</div>
							<% } %>
							<div class="cf"></div>


						<% } %>

						<% if( questions[i].type == 'SLIDER') { %>
							<div class="sliderimage">
								<div class="image left"  >
									<img src="images/icons/<%= questions[i].answer_images[0] %>.svg" alt="">
								</div>
								<div class="image center visible">
									<img src="images/icons/<%= questions[i].answer_images[1] %>.svg" alt="">
								</div>
								<div class="image right" >
									<img src="images/icons/<%= questions[i].answer_images[2] %>.svg" alt="">
								</div>
							</div>
<div class="slidelabels">
								<div class="label left"><%= questions[i].answers[0] %></div>
								<div class="label center"><%= questions[i].answers[1] %></div>
								<div class="label right"><%= questions[i].answers[2] %></div>
							</div>
							<div class="slidecontainer">
							  <input type="range" min="1" max="100" value="50" class="rangeslider"  id="answer-<%= i %>" >
							</div>
							

						<% } %>

						<% if( questions[i].type == 'NOTE') { %>

							<div id="answer-<%= i %>" class="question-answer note centered">
								<textarea id="note"></textarea>
							</div>
							<div class="cf"></div>


						<% } %>

					</div>
				</div>
				<% } %>
				<div class="cf"></div>
			</div>
		</script>

		<script type="text/template" id="template-solutions">
		<div id="solutions-container">
			<% for( var i=0; i<solutions.length; i++ ){ %>

			<div class="solution" data-solutionid="<%= i %>">
				<div class="solution-recommended montserrat">
										
					<div id="loading"></div>
				</div>
				<div class="solution-container">
					
				</div>
				
				<div class="cf"></div>
			</div><!-- solution -->
			<% } %>
		</div>
		

		
		<div id="delete-csv"></div>
		<div id="reset-app"></div>
		</script>
	</body>
</html>