html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button:focus, .button:focus, a:focus {outline:0;}

.cf { clear: both; }

/* 
 * fonts and type 
 */
.montserrat { font-family: 'Montserrat', sans-serif; }
.roboto { font-family: 'Roboto Condensed', sans-serif;; }

.uppercase { text-transform: uppercase; }
.centered { text-align: center; }

/* 
 * colors
 */

.turquoise-bg { background-color: #00D8FF!important; border: 1px #00D8FF solid !important;}
.purple-fg { color: #2D297C!important; }
.grey-fg { color: #9B9B9B!important; }
.white-bc { border-color: #fff; }



.slate-blue-bc { border-color: #374952; }
.slate-blue-bg { background-color: #374952; }
.slate-blue-fg { color: #374952!important; }

.slate-purple-fg { color: #3b333e; }
.slate-purple-bg { background-color: #3b333e; }
.white-fg { color: white!important; }
.mermaid-fg { color: #67d9ce; }
.grape-bg { background-color: #614f67; }

.mermaid-bg { background-color: #67d9ce!important; }
.light-gray-bg { background-color: none; border: 1px #2D297C solid;}

.gray-fg { color: #B9B9B9; }

.skin-bg { background-color: #ddd2d2; }

/* 
 * high level
 */

#container {
	height: 100%;
	width: 100%;
	position: relative;
}


header {

     position: absolute;
    z-index: 9999;
    top: 28px;
    left: 24px;
    right: 24px;
}
a {
	float: right;
	font-size: 13px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	color: #9B9B9B;
	transition: .3s all;
	text-decoration: none
}
@media screen and (max-width: 660px){
	header { top: 19px; }
	a { 
     line-height: 20px;
     font-size: 11px;
    }
}
a:hover {
	color: #2D297C;
}
/* 
 * welcome screen 
 */

#welcome {
	

	height: 100%;
	background-color: white;
	/*background-image: url(../images/home.jpg);
	background-repeat: no-repeat;*/
	background-size: cover;
	background-position: center -400px;
	position: absolute;
	width: 100%;
	top: 0;
}

.welcome-dark {

	padding-top: 90px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
}
.welcome-dark img { 
	width: 40%;
	margin-bottom: 50px; 
}
#welcome-title {

	font-size: 50px;


	color: #2D297C;
	letter-spacing: 0.11px;
	text-align: center;
	line-height: 34px;
}



#welcome-subtitle {
/* Before we ask you a: */
font-family: 'Montserrat';
font-size: 17px;

color: #9B9B9B;
letter-spacing: 0.05px;
text-align: center;
line-height: 29px;
	margin: 47px auto;
	width: 70%;

}

@media screen and (max-width: 660px){
	.welcome-dark { padding-top: 65px; }
	.welcome-dark img { margin-bottom: 18px; }
	#welcome-subtitle { margin: 18px auto; font-size: 11px; line-height: 20px; }

	#welcome-title {
		font-size: 30px;
	}

}

#welcome-button {
	margin: 0 auto 60px;
	width: 60%;
}
.button {
	height: 65px;

	background: #00D8FF;
	border-radius: 100px;
	/* TAKE OUR SURVEY: */
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.05px;
	text-align: center;
	line-height: 65px;

	transition: .3s all;
	cursor: pointer;
}

.button.nav-button-disabled {
	cursor:default;
}

.button:hover, .button:active {
	background: #2D297C;
}

#welcome-confidential {
	position: fixed;
	width: 100%;
	bottom: 77px;
	text-transform: none;
	letter-spacing: 0.07em;
	font-size: 14px;
	left: 0;
}

/* 
 * question screen 
 */

#questions {
	opacity: 1;
	border-width: 74px 25px 25px 25px;
	border-style: solid;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}
@media screen and (max-width: 660px){
	#questions {
		border-width: 60px 18px 18px 18px;

	}
}

/* bottom nav related */
.nav-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 22px;
}
.nav-button {
	width: 20%;
	min-width: 110px;
	height: 100%;
	float: left;
	position: absolute;
	bottom: 30px;
	height: 45px;
	line-height: 45px;

}
@media screen and (max-width: 660px){
	.nav-button {
		bottom: 0;

	}
}
.nav-button.right {
	float: right;
}
.nav-button-disabled { 
	background-color: #BFBFBF!important;
}

#nav-prev {
	left: 25px;
	transition: background-color 400ms;
}
#nav-next {
	text-align: center;
	transition: height 300ms, line-height 300ms, background-color 400ms;
	right: 25px;
}

@media screen and (max-width: 660px){
	#nav-prev { left: 2px; }
	#nav-next {right: 2px;}
}


/* for the 1-5 list at top of questions section */
.question-top {
	float: left;
	font-size: 13px;
	padding-top: 62px;
	color: #dcdcdc;
	transition: color 500ms;
}

@media screen and (max-width: 660px){
.question-top { padding-top: 30px;  font-size: 11px; }
}
.question-top-title { margin-top: 9px; }

/* for the body of the question */

#questions-container {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 96px;
	background: #FFF3E6;
	overflow-x: hidden;
	overflow-y: auto;
}
#questions-header { width: 35%; margin: 0 auto; }
@media screen and (max-width: 660px){
	#questions-container { bottom: 56px; }
}
#questions-scroller {
	height: 100%;
	transition: left 500ms;
	left: 0;
	position: relative;
}

.slidecontainer {
	width: 100%;
	max-width: 500px;

     margin: 0 auto;
}
.label {
	width: 33%;
	text-align: center;
	margin: 0 auto 40px;
	display: inline-block;
	color: #2D297C;
     font-size: 22px;
}

@media screen and (max-width: 660px){
	.label { font-size: 12px; 
     margin-bottom: 25px; }
}
.label.left {
	float: left;
	text-align: left;
}
.label.right {
	float: right;
	text-align: right;
}
.sliderimage {
	margin-bottom: 75px;
	height: 160px;
}
.sliderimage .image {
	display: none;
	height: 100%;
}
.sliderimage img { height: 100%; }
.sliderimage .image.visible {
	display: block;
}

@media screen and (max-width: 480px){
	.sliderimage .image { height: 72px; }
	.sliderimage { margin-bottom: 36px; }
	.sliderimage img { height: 100%; }
}
@media screen and (max-width: 660px){
	.sliderimage .image { height: 130px; }
	.sliderimage { margin-bottom: 25px; }
	.sliderimage img { height: 100%; }
}


.rangeslider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;   
    background: #979797;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 55px;
    height: 55px;
    border-radius: 50%; 
    background: #00D8FF;
    cursor: pointer;
}

.rangeslider::-moz-range-thumb {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #00D8FF;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
	.rangeslider::-webkit-slider-thumb {
	    width: 26px;
	    height: 26px;
		}
	.rangeslider::-moz-range-thumb {
	    width: 26px;
	    height: 26px;
	}
}


.question {
	float: left;
	position: relative;
	top: 4%;
	/*transform: translateY(-50%);*/
/*	-webkit-transform: translateY(-50%); */
}

.question-begin {
	/* When it comes to my: */
	font-family: 'Montserrat';
	width: 100%;
	padding-right: 14%;
	padding-left: 14%;
	height: 155px;
	font-size: 27px;
	color: #2D297C;
	letter-spacing: 0.05px;
	text-align: center;
	line-height: 34px;
	text-transform: none;
	margin: 0 auto 80px;
	border-bottom: white 3px solid;

}
.MULTISELECT .question-begin {
	margin-bottom: 16px;
}
@media screen and (max-width: 660px) {
	.question {
		top: 3%;
	}
	.question-begin {
			height: 100px;
		font-size: 16px;
		margin-bottom: 40px;
		line-height: 24px;
padding-right: 11%;
padding-left: 11%;
	}
	.NOTE .question-begin {
		margin-bottom: 28px;
	}
}



.question-answers {
	margin: 0 auto;
	margin-bottom: 36px;
	width: 75%;
	text-align: center;
}
	.question-answer {
	text-align: center;
	margin:16px 16px 33px 16px;
		display: inline-block;

    vertical-align: top;
		color: #2D297C;
		font-size: 18px;
		width: 150px;
		height: 178px;
		transition: background-color 300ms, color 100ms;
	}
		.question-answer img {
			width: 100%;
			margin-bottom: 4px;
		}
		.question-answer.multiselect span {
			display: block;
			padding-top: 4px;
		}
		/* by default, multiselect is not selected */
		.question-answer.multiselect img.off, 
		.question-answer.multiselect:not(.selected) img.off
		 { 
			display: block; 
		}
		.question-answer.multiselect img.on,
		.question-answer.multiselect:not(.selected) img.on { 
			display: none; 
		}
		/* inverted when selected and when hovering*/
		/*TOOD - hover was breaking in mobile - .question-answer.multiselect:hover img.off */
		.question-answer.multiselect.selected img.off
		 {
			display: none;
		}

		/*TOOD - hover was breaking in mobile - 
		.question-answer.multiselect:hover img.on */
		.question-answer.multiselect.selected img.on  {
			display: block;
		}
		.NOTE .question-answer {
			width: 100%;
			
    		height: 45%;
		}
@media screen and (max-width: 660px) { 

	.question-answer {
		width: 76px;
		height: 106px;
		margin: 8px;
		font-size: 11px;
	}
	.NOTE .question-answer {
		margin: 0;
		width: 100%;
		height: 59%;
	}

}

textarea {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #ffffff;
    resize: none;
}
textarea:focus { 
    outline: none !important;
    border-color: #000;
    box-shadow: none;
}

#submit-pre {
	display: none;
	font-size: 26px; 
	line-height: 45px;
}

#submit-content {
	display: none;
}



/* 
 * solutions screen 
 */
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #9B9B9B;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

#delete-csv {
	width: 28px;
	height: 28px;
	position: fixed;
	bottom: 0;
	left: 0;
}

#reset-app {
	width: 28px;
	height: 28px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#solutions-container {
	width: 100%;
	height: 100%;
	background: white;
}

#solutions {
	opacity: 0;
	width: 100%;
	height: 100%;
}


.solution {
	top: 0;
	position: absolute;
	padding-top: 75px;
	padding-bottom: 30px;
	width: 100%;
	height: 100%;
	display: none;
	background: #FFF3E6;
	border-width: 74px 28px 28px 28px;
	border-color: white;
	border-style: solid;
}

.solution-recommended {
	display: none;
	width: 60%;
	margin: 80px auto;
	padding: 34px 0 0 0;

font-size: 27px;
color: #2D297C;
letter-spacing: 0.05px;
text-align: center;
line-height: 34px;

}
.solutions-container {
	width: 70%;
	margin: 40px auto 0;

}
.solution-container {
	width: 80%;
     margin: 0 auto;
    text-align: center;
}
.solution-container .solution-title {
	width: 100%;
	border: 3px #2D297C solid;

margin-bottom: -3px; /* border */
	font-family: 'Roboto';
	font-size: 50px;
	color: #2D297C;
	letter-spacing: 0.05px;
	text-align: center;
	line-height: 110px;


}
.solution-container .solution-subtitle {
	width: 100%;
	border: 3px #2D297C solid;
	padding: 40px 60px;
font-size: 19px;
color: #2D297C;
letter-spacing: 0.05px;
text-align: center;
line-height: 34px;

	}


	.solution-bottom {
		font-size: 15px;
		position: absolute;
		bottom: 50px;
		border-top: 2px solid white;
		padding-top: 15px;
		width: calc(100% - 110px);
	}

	.solution-bottom-col {
		width: 50%;
		float: left;
		line-height: 1.15em;
	}
	.solution-bottom-col-title {
		margin-bottom: 5px;
	}